/* style.css */

#main {
    background: url('../images/seascape.jpg') no-repeat top center;
    background-size: cover;
}

nav img {
    margin-top: -8px;
}

.jumbotron {
    color: black;
}

.heading {
    padding: 70px 0 70px 0;
}

.heading h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    text-align: center;
}

.col-sm-4 h4 {
    font-weight: normal;
}

footer.sticky {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.display-panel {
    margin-top: 2em;
    background: #eaeaea;
    border-radius: 10px;
}

.display-panel .row {
    padding-bottom: 1em;
}

footer {
    margin-top: 40px;
    padding: 10px;
    border-top: 2px solid #aaa;
    background-color: #ddd;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    float: left;
    margin-right: 20px;
}
